<app-navbar></app-navbar>
<div class="main" [ngClass]="{'wide-main': isOpen}">
    <app-topbar></app-topbar>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Perfil de usuario</h2>
            </div>
            <div *ngIf="loading" class="loading">
                <div class="spinner"></div>
            </div>
            <div *ngIf="!loading" class="body">
                <div class="data">
                    <p>Nombre de usuario</p>
                    <p>{{ user.username }}</p>
                    <hr>
                    <p>Perfil</p>
                    <p *ngIf="user.role === 'ADMIN_ROLE'">Administrador</p>
                    <p *ngIf="user.role === 'SALE_ROLE'">Vendedor</p>
                    <p *ngIf="user.role === 'USER_ROLE'">Usuario</p>
                    <hr>
                    <p>Nombre completo</p>
                    <p>{{ user.name || '-' }} {{ user.lastname }}</p>
                    <hr>
                    <p>email</p>
                    <p>{{ user.email || '-' }}</p>
                    <hr>
                    <p>Creado</p>
                    <p>{{ user.createdAt | date:'medium' }}</p>
                    <hr>
                    <p>Modificado</p>
                    <p>{{ user.updatedAt | date:'medium' }}</p>
                </div>
            </div>
            <div class="buttons">
                <button (click)="modalEdit = true">Editar</button>
                <button (click)="modalPass = true">Cambiar contraseña</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="modalEdit" id="modalEdit" class="modal fadeIn">
    <div id="containerEdit" class="container slideIn">
        <div class="header">
            <h2>Edición de usuario</h2>
        </div>
        <form [formGroup]="formProduct" (ngSubmit)="editUser()">
            <label for="name">Nombre<input type="text" name="name" formControlName="name"></label>
            <label for="lastname">Apellido<input type="text" name="lastname" formControlName="lastname"></label>
            <label for="email">Email<input type="email" name="email" formControlName="email"></label>
            <div class="paragraph">
                <p>Para que los cambios se vean en todas las ventanas, cerrar sesión y volverla a abrir.</p>
            </div>
            <div class="buttons">
                <button type="submit"><fa-icon [icon]="icons[0]"></fa-icon> Guardar</button>
                <button type="button" (click)="closeModal('#modalEdit', '#containerEdit')"><fa-icon [icon]="icons[1]"></fa-icon> Cancelar</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="modalPass" id="modalPass" class="modal fadeIn">
    <div id="containerPass" class="container slideIn">
        <div class="header">
            <h2>Cambiar contraseña</h2>
        </div>
        <form [formGroup]="formPass" class="pass" (ngSubmit)="changePass()">
            <label [class.error]="validatedError.pass || badlogin" for="pass">Contraseña actual<input (focus)="cleanError()" type="password" name="pass" formControlName="pass"></label>
            <label [class.error]="validatedError.newpass || different" for="newpass">Contraseña nueva<input (focus)="cleanError()" type="password" name="newpass" formControlName="newpass"></label>
            <label [class.error]="validatedError.retrypass || different" for="retrypass">Repetir contraseña nueva<input (focus)="cleanError()" type="password" name="retrypass" formControlName="retrypass"></label>
            <div class="validate">
                <p *ngIf="required">Los campos son obligatorios</p>
                <p *ngIf="validatedLength">La contraseña debe ser de mas de 6 caracteres</p>
                <p *ngIf="badlogin">Contraseña actual incorrecta</p>
                <p *ngIf="different">Las contraseñas nuevas deben ser iguales</p>
            </div>
            <div class="paragraph">
                <p>Para mas seguridad, una vez hecho el cambio de contraseña, cierre la sesión y volva a abrirla.</p>
            </div>
            <div class="buttons">
                <button type="submit"><fa-icon [icon]="icons[2]"></fa-icon> Cambiar</button>
                <button type="button" (click)="closeModal('#modalPass', '#containerPass')"><fa-icon [icon]="icons[1]"></fa-icon> Cancelar</button>
            </div>
        </form>
    </div>
</div>
