<div class="card">
    <div class="card-header">
        <h2>Ventas diarias</h2>
        <div class="buttons">
            <a (click)="generatePdf()" class="link-btn"><fa-icon [icon]="icons[0]"></fa-icon> Generar PDF</a>
        </div>
    </div>
    <div *ngIf="loading" class="loading">
        <div class="spinner"></div>
    </div>
    <table *ngIf="!loading">
        <thead>
            <tr>
                <th>Cant.</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr class="no-events" *ngIf="salesItems.length === 0">
                <td colspan="4">Todavía no se realizaron ventas</td>
            </tr>
            <tr *ngFor="let item of showedProducts" title="{{ item.product.description }}">
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.barcode }}</td>
                <td>{{ item.product.description }}</td>
                <td>$ {{ item.price * item.quantity }}</td>
            </tr>            
        </tbody>
    </table>
    <div class="total">
        <p>Total vendido: $ {{ total }}</p>
    </div>
    <div class="navigation">
        <div class="prev"><a (click)="salesPrev()"><fa-icon [icon]="icons[1]"></fa-icon> Anterior</a></div>
        <div class="next"><a (click)="salesNext()">Sigiente <fa-icon [icon]="icons[2]"></fa-icon></a></div>
    </div>
</div>