<div class="card">
    <div class="card-header">
        <h2>Ventas</h2>
        <div class="buttons">
            <label for="from">Desde:<input type="date" name="from" [(ngModel)]="dateFrom"></label>
            <label for="to">Hasta:<input type="date" name="to" [(ngModel)]="dateTo"></label>
            <a (click)="search()" class="link-btn"><fa-icon [icon]="icons[0]"></fa-icon> Buscar</a>
        </div>
    </div>
    <div *ngIf="loading" class="loading">
        <div class="spinner"></div>
        <div class="text">Ventas procesadas: {{ currentSale }} de {{ totalSale }}</div>
    </div>
    <table *ngIf="!loading">
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Codigo</th>
                <th>Description</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody *ngFor="let sale of sales">
            <tr *ngFor="let item of sale.items">
                <td>{{ item.quantity }}</td>
                <td>{{ item.barcode }}</td>
                <td>{{ item.description }}</td>
                <td>$ {{ item.subtotal }}</td>
            </tr>
            <tr class="foot">
                <td colspan="4"><span>Fecha:</span> {{ sale.date | date:'short' }} - <span>Usuario:</span> {{ sale.user }} - <span>Total venta:</span> ${{ sale.total }}</td>
            </tr>
        </tbody>
    </table>
</div>