.cursor-denied {
    cursor: not-allowed;
}

.container {
    padding: 0;
}

.actions {
    width: 100%;
    height: 50px;
    background: var(--white);
}

.tables {
    width: 100%;
    height: 600px;
    background: var(--white);
    position: relative;
}

.tables .list {
    overflow: auto;
    padding: 20px;
    margin: 10px;
    height: 550px;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.tables .list .card-header .buttons {
    height: 100%;
    display: flex;
    align-items: center;
}

.tables .list .card-header .buttons a:nth-child(1),
.tables .list .card-header .buttons a:nth-child(2) {
    margin-right: 5px;
}

.tables .list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tables .list table thead th {
    font-weight: 600;
}

.tables .list table thead th:nth-child(2),
.tables .list table thead th:nth-child(3),
.tables .list table thead th:nth-child(4),
.tables .list table thead th:nth-child(7) {
    cursor: pointer;
}

.tables .list table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tables .list table tr:last-child {
    border-bottom: none;
}

.tables .list table tr th,
.tables .list table tr td {
    padding: 10px;
}

.tables .list table tr td:nth-child(2) {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tables .list table tr td:nth-child(4),
.tables .list table tr td:nth-child(5),
.tables .list table tr td:nth-child(6),
.tables .list table tr td:nth-child(7),
.tables .list table tr td:last-child {
    text-align: center;
}

.tables .list table tr th:nth-child(1),
.tables .list table tr th:nth-child(2),
.tables .list table tr th:nth-child(3) {
    text-align: start;
}

.tables .list table tbody tr:hover td:nth-child(2) {
    border-bottom: 1px solid var(--blue);
}

.tables .list table tbody tr:last-child:hover td:nth-child(2) {
    border-bottom: none;
}

.tables .list table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.tables .list table tbody tr td:last-child {
    min-width: 150px;
    display: flex;
    justify-content: space-around;
}

.tables .list table tbody tr td:last-child button {
    padding: 7px 9px;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
}

.tables .list table tbody tr td:last-child button:nth-child(1) {
    background: var(--success);
    border: 1px solid var(--success);
}

.tables .list table tbody tr td:last-child button:nth-child(2) {
    background: var(--warning);
    border: 1px solid var(--warning);
}

.tables .list table tbody tr td:last-child button:last-child {
    background: var(--danger);
    border: 1px solid var(--danger);
}

.tables .footer {
    position: absolute;
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 20px;
    bottom: 0px;
}

.tables .footer .prev,
.tables .footer .next {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.tables .footer .next {
    justify-content: end;
}

.tables .footer a {
    cursor: pointer;
    color: var(--black2);
    text-decoration: none;
}

/**** Responsive design ****/

@media (max-width: 1024px) {
    .tables .list table tbody tr td:nth-child(1),
    .tables .list table tbody tr td:nth-child(4),
    .tables .list table tbody tr td:nth-child(5),
    .tables .list table tbody tr td:nth-child(6),
    .tables .list table thead tr th:nth-child(1),
    .tables .list table thead tr th:nth-child(4),
    .tables .list table thead tr th:nth-child(5),
    .tables .list table thead tr th:nth-child(6)  {
        display: none;
    }
}

@media (max-width: 450px) {
    .actions,
    .tables .list .card-header .buttons a span,
    .tables .list table thead tr th:nth-child(3),
    .tables .list table thead tr th:nth-child(7),
    .tables .list table tbody tr td:nth-child(3),
    .tables .list table tbody tr td:nth-child(7)  {
        display: none;
    }

    .tables .list table tbody tr td:nth-child(2) {
        max-width: 200px;
    }

    .tables {
        height: 100%;
    }

    .tables .list {
        overflow: auto;
        padding: 5px;
        margin: 20px 0;
        height: 505px;
        border-radius: 0px;
    }

    .tables .list table tr td:nth-child(8) {
        min-width: 100px !important;
    }

    .tables .footer {
        bottom: -60px
    }
}
