<app-navbar></app-navbar>
<div class="main" [ngClass]="{'wide-main': isOpen}">
    <app-topbar [productPage]="true" (searchEvent)="searchFor($event)"></app-topbar>
    <div class="container" [ngClass]="{'loading': productService.loading}">
        <div class="actions"></div>
        <div class="tables">
            <div class="list">
                <div class="card-header">
                    <h2>Listado de productos</h2>
                    <div class="buttons">
                        <a title="Recargar listado" (click)="reloadList()" class="link-btn"><fa-icon [icon]="icons[6]"></fa-icon><span> Recargar</span></a>
                        <a title="Agregar producto" (click)="addProduct()" class="link-btn" [ngClass]="{'cursor-denied': !admin}"><fa-icon [icon]="icons[0]"></fa-icon><span> Agregar</span></a>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th (click)="reorderList('description')" title="Reordenar por descripción">Descripción <fa-icon [icon]="icons[5]"></fa-icon></th>
                            <th (click)="reorderList('category')" title="Reordenar por categoría">Categoría <fa-icon [icon]="icons[5]"></fa-icon></th>
                            <th (click)="reorderList('quantity')" title="Reordenar por cantidad">Cantidad <fa-icon [icon]="icons[5]"></fa-icon></th>
                            <th>Costo $</th>
                            <th>Ganancia %</th>
                            <th (click)="reorderList('price')" title="Reordenar por precio final">Precio final <fa-icon [icon]="icons[5]"></fa-icon></th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="products.length === 0">
                            <td>No hay resultados</td>
                        </tr>
                        <tr *ngFor="let product of products; let i = index" title="{{ product.description }}">
                            <td>{{ product.barcode }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.category | titlecase }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.cost_price || '-' }}</td>
                            <td>{{ product.percent_profit || '-' }}</td>
                            <td>$ {{ product.price }}</td>
                            <td>
                                <button title="Agregar cantidad a {{ product.description }}" (click)="addQuantity(product._id, product.quantity, i)"><fa-icon [icon]="icons[0]"></fa-icon></button>
                                <button title="Editar {{ product.description }}" (click)="edit(product, i)"><fa-icon [icon]="icons[1]"></fa-icon></button>
                                <button title="Borrar {{ product.description }}" (click)="remove(product._id, i)"><fa-icon [icon]="icons[2]"></fa-icon></button>
                            </td>
                        </tr>                        
                    </tbody>
                </table>                
            </div>
            <div class="footer">
                <div class="prev"><a (click)="listPrev()"><fa-icon [icon]="icons[3]"></fa-icon> Anterior</a></div>
                <div class="next"><a (click)="listNext()">Siguiente <fa-icon [icon]="icons[4]"></fa-icon></a></div>
            </div>            
        </div>        
    </div>
</div>
<app-form-product *ngIf="productService.openForm" (reloadEvent)="receiveMessage($event)"></app-form-product>
<app-modal></app-modal>

