<div class="topbar">
    <div class="toggle" title="Menú" (click)="toggleNavbar()">
        <fa-icon [icon]="icons[0]"></fa-icon>
    </div>
    <div class="search">
        <form (submit)="search()">
            <label>
                <input type="text" placeholder="Buscar producto" name="data" [(ngModel)]="data" autocomplete="off">
                <button type="submit"><fa-icon [icon]="icons[1]"></fa-icon></button>                
            </label>
        </form>
    </div>
    <div class="user">
        <img src="../../../assets/user.jpg" alt="perfil" title="Mi perfil">
    </div>
</div>
